In [1]:
import pandas as pd
import configparser
from sqlalchemy import create_engine, text

In [2]:
config = configparser.ConfigParser()
config.read("querycrew.ini")
#Read the ini file to login into the database
db_name = config["mysql"]["database"]
db_host = config["mysql"]["host"]
db_user = config["mysql"]["user"]
db_password = config["mysql"]["password"]

#Connect
engine = create_engine(f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}")

conn = engine.connect()

In [4]:
query =text(( """
SELECT *
FROM vehicle_stations vs
LEFT JOIN vehicles v ON vs.vehicle_id = v.vehicle_id;
"""))
result = conn.execute(query)
df = pd.DataFrame(result.fetchall(), columns=result.keys())
df.head()

Empty DataFrame
Columns: [vehicle_id, station_id, vehicle_id, vin, make, model, year]
Index: []

In [10]:
query =text(( """
SELECT *
FROM vehicle_stations vs
RIGHT JOIN vehicles v ON vs.vehicle_id = v.vehicle_id;
"""))
result = conn.execute(query)
df = pd.DataFrame(result.fetchall(), columns=result.keys())
df.head()

   vehicle_id station_id  vehicle_id         vin       make     model  year
0        None       None           1  1C4JJXP66P       JEEP  WRANGLER  2023
1        None       None           2  1G1FX6S08K  CHEVROLET   BOLT EV  2019
2        None       None           3  WBY1Z2C58F        BMW        I3  2015
3        None       None           4  5YJ3E1EBXK      TESLA   MODEL 3  2019
4        None       None           5  5YJSA1V24F      TESLA   MODEL S  2015

In [8]:
query =text(( """
SELECT *
FROM vehicle_stations vs
LEFT JOIN vehicles v ON vs.vehicle_id = v.vehicle_id

UNION

SELECT *
FROM vehicle_stations vs
RIGHT JOIN vehicles v ON vs.vehicle_id = v.vehicle_id;
"""))
result = conn.execute(query)
df = pd.DataFrame(result.fetchall(), columns=result.keys())
df.head()

   vehicle_id station_id  vehicle_id         vin       make     model  year
0        None       None           1  1C4JJXP66P       JEEP  WRANGLER  2023
1        None       None           2  1G1FX6S08K  CHEVROLET   BOLT EV  2019
2        None       None           3  WBY1Z2C58F        BMW        I3  2015
3        None       None           4  5YJ3E1EBXK      TESLA   MODEL 3  2019
4        None       None           5  5YJSA1V24F      TESLA   MODEL S  2015