In [1]:
from mysql.connector import MySQLConnection, Error

In [2]:
def make_connection():
    """
    Make a connection to the school database.
    """
    try:
        conn = MySQLConnection(host='IES-ADS-ClassDB.sjsu.edu',
                               database='querycrew_db',
                               user='querycrew_user',
                               password='Pomegranate_746')
        
        if conn.is_connected():
            print('Connected to the MySQL database!')
            
            return conn
                
    except Error as e:
        print('Connection failed.')
        print(e)
        
        return None

In [3]:
conn = make_connection()
cursor = conn.cursor()

Connected to the MySQL database!

For the following problem, I am trying to use the 'GROUP BY' function. The objective of this querry is to return the counts of the make and models of all cars that have a model_year of 2020 or newer.

In [5]:
sql = ( 
    """
    SELECT make, model, COUNT(model_year) AS num_model_years
    FROM vehicle
    WHERE model_year > 2020
    GROUP BY make, model;      
    """
)

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Toyota', 'Corolla', 1)
('Honda', 'Civic', 1)
('Tesla', 'Model S', 1)

In the following querry below, I am going to use GROUP BY HAVING. This query groups the vehicles by make and model, then counts the number of VINs for each group, and it returns only those make and models that appear more than 5 times in the data.

In [7]:
sql = ( 
    """
    SELECT make, model, COUNT(vin) AS vehicle_count
    FROM vehicles
    GROUP BY make, model
    HAVING COUNT(vin) > 5;      
    """
)

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
    print(row)

('JEEP', 'WRANGLER', 27)
('CHEVROLET', 'BOLT EV', 49)
('BMW', 'I3', 22)
('TESLA', 'MODEL 3', 157)
('TESLA', 'MODEL S', 80)
('BMW', '530E', 7)
('TESLA', 'MODEL X', 61)
('NISSAN', 'LEAF', 97)
('KIA', 'EV6', 20)
('TESLA', 'MODEL Y', 134)
('TOYOTA', 'PRIUS PRIME', 28)
('RIVIAN', 'R1T', 13)
('VOLVO', 'XC60', 17)
('BMW', 'X5', 18)
('FIAT', '500', 7)
('CHEVROLET', 'BOLT EUV', 24)
('MAZDA', 'CX-90', 13)
('KIA', 'NIRO', 32)
('VOLVO', 'XC90', 21)
('RIVIAN', 'R1S', 20)
('AUDI', 'E-TRON', 13)
('BMW', 'IX', 7)
('CHRYSLER', 'PACIFICA', 18)
('KIA', 'SOUL', 9)
('FORD', 'F-150', 19)
('AUDI', 'Q5 E', 10)
('CHEVROLET', 'VOLT', 34)
('KIA', 'SORENTO', 8)
('JEEP', 'GRAND CHEROKEE', 6)
('TOYOTA', 'RAV4 PRIME', 26)
('AUDI', 'A3', 7)
('HONDA', 'CLARITY', 7)
('FORD', 'C-MAX', 12)
('MITSUBISHI', 'OUTLANDER', 8)
('TOYOTA', 'PRIUS PLUG-IN', 7)
('KIA', 'SPORTAGE', 6)
('VOLKSWAGEN', 'ID.4', 26)
('SUBARU', 'SOLTERRA', 9)
('NISSAN', 'ARIYA', 14)
('VOLKSWAGEN', 'E-GOLF', 13)
('FORD', 'FUSION', 11)
('HYUNDAI', 'IONIQ 5', 23)
('FORD', 'MUSTANG MACH-E', 28)
('FORD', 'TRANSIT', 7)
('TOYOTA', 'BZ4X', 8)
('HYUNDAI', 'KONA ELECTRIC', 8)
('KIA', 'EV9', 7)
('PORSCHE', 'TAYCAN', 9)
('BMW', 'I4', 16)
('VOLVO', 'XC40', 14)
('MERCEDES-BENZ', 'EQB-CLASS', 8)
('CHEVROLET', 'EQUINOX EV', 6)
('HONDA', 'PROLOGUE', 6)
('CADILLAC', 'LYRIQ', 10)

In [8]:
cursor.close()
conn.close()