In [115]:
import csv
import pandas as pd
from sqlalchemy import create_engine, text

In [117]:
from mysql.connector import MySQLConnection, Error

In [119]:
# Making connection to SQL server
def make_connection():
    try:
        conn = MySQLConnection(host='IES-ADS-ClassDB.sjsu.edu',
                               database='querycrew_db',
                               user='querycrew_user',
                               password='Pomegranate_746')
        
        if conn.is_connected():
            print('Connected to the MySQL database!')
            
            return conn
                
    except Error as e:
        print('Connection failed.')
        print(e)
        
        return None

In [121]:
conn = make_connection()
cursor = conn.cursor()

Connected to the MySQL database!

In [123]:
# dropping tables in order
cursor.execute("DROP TABLE IF EXISTS Driver;")
cursor.execute("DROP TABLE IF EXISTS location;")
cursor.execute("DROP TABLE IF EXISTS Vehicle;")
cursor.execute("DROP TABLE IF EXISTS vehicle_inspection")
cursor.execute("DROP TABLE IF EXISTS station;")
cursor.execute("DROP TABLE IF EXISTS county;")
cursor.execute("DROP TABLE IF EXISTS IsLocatedIn;") 

conn.commit()
print("All tables dropped successfully!")

All tables dropped successfully!

In [125]:
# Create county table
county_table = """
CREATE TABLE county (
  county_id INT NOT NULL,
  county_name VARCHAR(255) NOT NULL,
  PRIMARY KEY (county_id)
);
"""

# Create station table
station_table = """
CREATE TABLE station (
  station_id INT NOT NULL,
  station_name VARCHAR(255) NULL,
  PRIMARY KEY (station_id)
);
"""

# Table creations
cursor.execute(county_table)
cursor.execute(station_table)

conn.commit()
print("County and Station tables are created successfully!")

County and Station tables are created successfully!

In [127]:
# Inserting 5 rows of sample data in county and station tables
insert_into_county = """
INSERT INTO county (county_id, county_name) VALUES (1, 'Marin'), (2, 'Contra Costa'), (3, 'Alameda'), (4, 'Solano'), (5, 'San Mateo');
"""

# Insert data into station
insert_into_station = """
INSERT INTO station (station_id, station_name) VALUES 
(101, 'Marin Motors'), 
(102, 'Contra Costa Auto Service'), 
(103, 'Alameda Auto Lab'), 
(104, 'Solano Way Auto Repair'), 
(105, 'San Mateo Automotive Service');
"""

cursor.execute(insert_into_county)
cursor.execute(insert_into_station)

conn.commit()

print("Inserted sample data in county and station successfully!")

Inserted sample data in county and station successfully!

In [129]:
# Displaying sample data of county and station
county_df = pd.read_sql_query("SELECT * FROM county", conn)
station_df = pd.read_sql_query("SELECT * FROM station", conn)

print("County Table:")
print(county_df)

print("\nStation Table:")
print(station_df)

# Close the connection
conn.close()

print("Connection closed.")

County Table:
   county_id   county_name
0          1         Marin
1          2  Contra Costa
2          3       Alameda
3          4        Solano
4          5     San Mateo

Station Table:
   station_id                  station_name
0         101                  Marin Motors
1         102     Contra Costa Auto Service
2         103              Alameda Auto Lab
3         104        Solano Way Auto Repair
4         105  San Mateo Automotive Service
Connection closed.

/var/folders/5_/q2__r0d15kxg6gnyjbyvzt3r0000gn/T/ipykernel_29340/3831238746.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  county_df = pd.read_sql_query("SELECT * FROM county", conn)
/var/folders/5_/q2__r0d15kxg6gnyjbyvzt3r0000gn/T/ipykernel_29340/3831238746.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  station_df = pd.read_sql_query("SELECT * FROM station", conn)